<div *ngIf="layerIds">
  <form [formGroup]="stackForm">
    <div>
      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label i18n>Select Image(s) to Stack</mat-label>
        <mat-select multiple formControlName="selectedLayerIds">
          <mat-option *ngFor="let layerId of layerIds" [value]="layerId">
            {{ getLayerOptionLabel(layerId) | async }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-icon-button (click)="onSelectAllBtnClick()">
        <mat-icon>select_all</mat-icon>
      </button>

      <button mat-icon-button (click)="onClearSelectionBtnClick()">
        <mat-icon>clear</mat-icon>
      </button>
    </div>

    <div>
      <mat-form-field appearance="outline" style="width: 200px">
        <mat-label i18n>Mode</mat-label>
        <mat-select formControlName="mode">
          <mat-option value="average" i18n>average</mat-option>
          <mat-option value="percentile" i18n>percentile</mat-option>
          <mat-option value="mode" i18n>mode</mat-option>
          <mat-option value="sum" i18n>sum</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" [hidden]="stackForm.value?.mode != 'percentile'" style="margin-left: 10px">
        <mat-label i18n>Percentile</mat-label>
        <input matInput formControlName="percentile" type="number" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label i18n>Rejection</mat-label>
        <mat-select formControlName="rejection">
          <mat-option value="none" i18n>None</mat-option>
          <mat-option value="chauvenet" i18n>chauvenet</mat-option>
          <mat-option value="iraf" i18n>iraf</mat-option>
          <mat-option value="minmax" i18n>minmax</mat-option>
          <mat-option value="sigclip" i18n>sigclip</mat-option>
          <mat-option value="rcr" i18n>rcr</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label i18n>Low</mat-label>
        <input matInput formControlName="low" type="number" />
      </mat-form-field>
      <mat-form-field appearance="outline" style="margin-left: 10px">
        <mat-label i18n>High</mat-label>
        <input matInput formControlName="high" type="number" />
      </mat-form-field>
      <mat-form-field appearance="outline" [hidden]="stackForm.value?.rejection != 'chauvenet'" style="margin-left: 10px">
        <mat-label i18n>nuCol</mat-label>
        <input matInput formControlName="nuCol" type="number" />
      </mat-form-field>
    </div>

    <div class="flex flex-row gap-5">
      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label i18n>Scaling</mat-label>
        <mat-select #scalingSelect formControlName="scaling">
          <mat-option value="none" i18n>None</mat-option>
          <mat-option value="average" i18n>average</mat-option>
          <mat-option value="median" i18n>median</mat-option>
          <mat-option value="mode" i18n>mode</mat-option>
          <mat-option value="histogram" i18n>histogram</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div>
      <mat-form-field appearance="outline" style="width: 300px">
        <mat-label i18n>Smart Stacking</mat-label>
        <mat-select formControlName="smartStacking">
          <mat-option value="none" i18n>None</mat-option>
          <mat-option value="SNR" i18n>SNR</mat-option>
          <mat-option value="sharpness" i18n>sharpness</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex flex-wrap gap-4 items-center">
      <div class="flex flex-col gap-4">
        <mat-slide-toggle formControlName="equalizeMultiplicative">Multiplicative Equalization</mat-slide-toggle>
        <mat-form-field appearance="outline">
          <mat-label i18n>Multiplicative Percentile</mat-label>
          <input matInput formControlName="multiplicativePercentile" type="number" />
        </mat-form-field>
      </div>
      <div class="flex flex-col gap-4">
        <mat-slide-toggle formControlName="equalizeAdditive"> Additive
          Equalization</mat-slide-toggle>
        <mat-form-field appearance="outline">
          <mat-label i18n>Equalization Order</mat-label>
          <input matInput formControlName="equalizeOrder" type="number" />
        </mat-form-field>
      </div>
    </div>
    <mat-slide-toggle formControlName="equalizeGlobal"> Global Equalization</mat-slide-toggle>

    <div class="pb-4" *ngIf="showPropagateMask$ | async">
      <mat-slide-toggle formControlName="propagateMask"> Propagate Mask</mat-slide-toggle>
    </div>

    <div style="clear: both"></div>
    <button mat-raised-button (click)="submit()" [disabled]="!stackForm.valid || (submitDisabled$ | async)"
      class="float-right" i18n>
      Submit
    </button>
    <div style="clear: both"></div>
  </form>

  <!-- <div *ngIf="showCurrentPixelOpsJobState$ | async" style="padding-top: 10px;"> -->
  <div *ngIf="stackingJob$ | async; let job" style="margin-top: 10px">
    <div class="alert alert-info"
      *ngIf="!job.result || ['pending', 'in_progress'].includes(job.state.status); else jobComplete">
      Processing job {{ job.id }} ... ({{ job.state.progress | number: '1.0-0' }}%)

      <ng-container *ngIf="job.state.status == 'in_progress'">
        <div style="margin-top: 5px">
          <mat-progress-bar mode="determinate" [value]="job.state.progress" [color]="'primary'"> </mat-progress-bar>
        </div>
      </ng-container>
    </div>
    <ng-template #jobComplete>
      <div *ngIf="job.result.errors.length != 0; else noErrors"
        class="alert alert-danger flex flex-col max-h-72 overflow-auto">
        <span *ngFor="let error of job.result.errors">
          <span class="font-semibold pr-3" *ngIf="error.meta?.fileId">{{getLayerOptionLabel(error.meta?.fileId) |
            async}}</span>
          {{ error.detail}}
        </span>
      </div>
      <ng-template #noErrors>
        <div class="alert alert-success" i18n>Processing is complete.</div>
      </ng-template>
    </ng-template>
  </div>
  <!-- </div> -->
</div>
